@model ProjectSemIII.Areas.Admin.Models.DataModel.Author

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>
    <h4>Tác giả</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorPhone)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorInfor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorInfor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.AuthorId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Quay trở lại", "Index",new {  }, new { @class = "btn btn-primary" })
</p>
