@model ProjectSemIII.Areas.Admin.Models.DataModel.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xem thông tin chi tiết</h2>

<div>
    <h4>Sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.PublisherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishingYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishingYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookImage1)
        </dt>

        <dd>
            <img src="~/Areas/Admin/Content/ImageBook/@Model.BookImage1" style="width:100px"/>
        </dd>
        </br>
        <dt>
            @Html.DisplayNameFor(model => model.BookImage2)
        </dt>

        <dd>
            <img src="~/Areas/Admin/Content/ImageBook/@Model.BookImage2"style="width:100px" />
        </dd>
        </br>
        <dt>
            @Html.DisplayNameFor(model => model.BookImage3)
        </dt>

        <dd>
            <img src="~/Areas/Admin/Content/ImageBook/@Model.BookImage3" style="width:100px"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusAvarible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusAvarible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.BookId }) |
    @Html.ActionLink("Quay trở lại", "Index")
</p>
