<!DOCTYPE html>
<html lang="en">
<head>
    <title>EBook - Tri Thức Việt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Image/icon.ico" />
    <link href="~/Content/css/mains.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fancybox.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/elegant-font/html-css/style.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/vendor/lightbox2/css/lightbox.min.css">


    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/main.css">
    <!--===============================================================================================-->

    <link href="~/Content/css/csss.css" rel="stylesheet" />
</head>
<body class="animsition">

    <!-- header fixed -->
    <div class="wrap_header fixed-header2 trans-0-4">


        <!-- Menu -->
        <div class="wrap_menu">
            <!-- Logo -->
            <a href="~/Home/Index" class="logo">
                <img src="/Content/Image/LOGO.png" alt="IMG-LOGO">
            </a>
            <nav class="menu">
                <ul class="main_menu">
                    <li>
                        <a href="~/Home/Index">Trang chủ</a>

                    </li>

                    <li>
                        <a href="#">Thể loại</a>
                        @{ Html.RenderAction("Category", "Home");}
                    </li>
                    <li>
                        <a href="#">Tác giả</a>

                        @{ Html.RenderAction("Author", "Home");}

                    </li>
                    <li>
                        <a href="#">Nhà xuất bản</a>

                        @{ Html.RenderAction("Publisher", "Home");}

                    </li>
                    <li class="sale-noti">
                        <a href="#">Giảm giá</a>
                    </li>

                    <li>
                        <a href="cart.html">Sách mới</a>
                    </li>
                    <li>
                        <a href="contact.html">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Header Icon -->
        <div class="header-icons">
            <a href="#" class="header-wrapicon1 dis-block">
                <img src="/Content/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
            </a>

            <span class="linedivide1"></span>

            <div class="header-wrapicon2">
                <img src="/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                <span class="header-icons-noti">0</span>

                <!-- Header cart noti -->
                <div class="header-cart header-dropdown">
                    <ul class="header-cart-wrapitem">
                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img src="/Content/images/item-cart-01.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    White Shirt With Pleat Detail Back
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $19.00
                                </span>
                            </div>
                        </li>

                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img src="/Content/images/item-cart-02.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    Converse All Star Hi Black Canvas
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $39.00
                                </span>
                            </div>
                        </li>

                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img src="/Content/images/item-cart-03.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    Nixon Porter Leather Watch In Tan
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $17.00
                                </span>
                            </div>
                        </li>
                    </ul>

                    <div class="header-cart-total">
                        Total: $75.00
                    </div>

                    <div class="header-cart-buttons">
                        <div class="header-cart-wrapbtn">
                            <!-- Button -->
                            <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                View Cart
                            </a>
                        </div>

                        <div class="header-cart-wrapbtn">
                            <!-- Button -->
                            <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                Check Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- top noti -->
    <div class="flex-c-m size22 bg0 s-text21 pos-relative">
        20% off everything!
        <a href="product.html" class="s-text22 hov6 p-l-5">
            Shop Now
        </a>

        <button class="flex-c-m pos2 size23 colorwhite eff3 trans-0-4 btn-romove-top-noti">
            <i class="fa fa-remove fs-13" aria-hidden="true"></i>
        </button>
    </div>

    <!-- Header -->
    <header class="header2">
        <!-- Header desktop -->
        <div class="container-menu-header-v2 p-t-26">
            <div class="topbar2">
                <div class="topbar-social">
                    <a href="#" class="topbar-social-item fa fa-facebook"></a>
                    <a href="#" class="topbar-social-item fa fa-instagram"></a>
                    <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                    <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                    <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                </div>

                <!-- Logo2 -->


                <div class="topbar-child2">
                    @if (Session["SessionLoginMember"] == null)
                    {
                        <span class="login-logo">
                            <a href="~/Home/Login" style="width:auto;">Đăng nhập</a>
                        </span>
                        <span class="register-logo" style="padding-left:5px;">
                            <a href="~/Home/Register">Đăng ký</a>
                        </span>
                        <a href="#" class="header-wrapicon1 dis-block m-l-30">
                            <img src="/Content/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                        </a>
                    }
                    else
                    {
                        <div class="hvavatar">
                            <span class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/Areas/Admin/Content/ImgCus/@Session["AvatarMember"]" style="width:60px; height:60px" class="user-image" alt="User Image">
                                    <span class="hidden-xs">@Session["FullNameMember"]</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img style="width:60px; height:60px" src="~/Areas/Admin/Content/ImgCus/@Session["AvatarMember"]" class="img-circle" alt="User Image">

                                        <p>
                                            @Session["FullNameMember"]
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="/Admin/Admins/Infor" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="/Admin/Home/Login" class="btn btn-default btn-flat">Thoát</a>
                                        </div>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    }


                    <!--  -->


                    <span class="linedivide1"></span>

                    <div class="header-wrapicon2 m-r-13">
                        <img src="/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <span class="header-icons-noti">0</span>

                        <!-- Header cart noti -->
                        @{ Html.RenderAction("View", "Home");}
                </div>
            </div>

            <div class="wrap_header row" style="margin-top:20px; height:90px; ">

                <div class="col-md-3" style="margin:auto; padding-left:100px; ">
                    <a href="index.html" class="logo2">
                        <img src="/Content/Image/LOGO.png" alt="IMG-LOGO">
                    </a>
                </div>
                <!-- Menu -->
                <div class="wrap_menu col-md-9">


                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="~/Home/Index">Trang chủ</a>
                                <!--  <ul class="sub_menu">
                                      <li><a href="index.html">Homepage V1</a></li>
                                      <li><a href="home-02.html">Homepage V2</a></li>
                                      <li><a href="home-03.html">Homepage V3</a></li>
                                  </ul>-->
                            </li>

                            <li>
                                <a href="#">Thể loại sách</a>

                                @{ Html.RenderAction("Category", "Home");}

                            </li>
                            <li>
                                <a href="#">Tác giả</a>

                                @{ Html.RenderAction("Author", "Home");}

                            </li>
                            <li>
                                <a href="#">Nhà xuất bản</a>

                                @{ Html.RenderAction("Publisher", "Home");}

                            </li>
                            <li class="sale-noti">
                                <a href="#">Giảm giá</a>
                            </li>

                            <li>
                                <a href="cart.html">Bài viết</a>
                            </li>
                            <li>
                                <a href="contact.html">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>

                </div>

                <!-- Header Icon -->
                <div class="header-icons">

                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap_header_mobile">
            <!-- Logo moblie -->
            <div href="#" class="logo-mobile">
                @if (Session["SessionLoginMember"] != null)
                {
                    <span class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/Areas/Admin/Content/ImgCus/@Session["AvatarMember"]" class="user-image" alt="User Image">
                            <span class="hidden-xs">@Session["FullNameMember"]</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="~/Areas/Admin/Content/ImgCus/@Session["AvatarMember"]" class="img-circle" alt="User Image">

                                <p>
                                    @Session["FullNameMember"]
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/Admin/Admins/Infor" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/Admin/Home/Login" class="btn btn-default btn-flat">Thoát</a>
                                </div>
                            </li>
                        </ul>
                    </span>
                    @*<img style="width:60px; height:60px;" src="~/Areas/Admin/Content/ImgCus/@Session["AvatarMember"].ToString()">*@
                }
                else
                {
                    <img src="/Content/images/icons/logo.png" alt="IMG-LOGO">
                }

            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu">
                <!-- Header Icon mobile -->
                <div class="header-icons-mobile">
                    <a href="#" class="header-wrapicon1 dis-block">
                        <img src="/Content/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                    </a>

                    <span class="linedivide2"></span>

                    <div class="header-wrapicon2">
                        <img src="/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <span class="header-icons-noti">0</span>

                        <!-- Header cart noti -->
                        @{ Html.RenderAction("View", "Home");}
                    </div>
                </div>

                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="wrap-side-menu">
            <nav class="side-menu">
                <ul class="main-menu">
                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        <span class="topbar-child1">
                            Free shipping for standard order over $100
                        </span>
                    </li>

                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        <div class="topbar-child2-mobile">
                            <span class="topbar-email">
                                fashe@example.com
                            </span>

                            <div class="topbar-language rs1-select2">
                                <select class="selection-1" name="time">
                                    <option>USD</option>
                                    <option>EUR</option>
                                </select>
                            </div>
                        </div>
                    </li>

                    <li class="item-topbar-mobile p-l-10">
                        <div class="topbar-social-mobile">
                            <a href="#" class="topbar-social-item fa fa-facebook"></a>
                            <a href="#" class="topbar-social-item fa fa-instagram"></a>
                            <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                            <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                            <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                        </div>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="~/Home/Index">Trang chủ</a>

                        <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="#">Thể loại</a>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="#">Tác giả</a>
                        <ul class="sub_menu">
                            @{ Html.RenderAction("Category", "Home");}
                        </ul>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="cart.html">Nhà Xuất Bản</a>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="blog.html">Sale</a>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="about.html">Bài Viết</a>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="contact.html">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Slide1 -->
    <section class="slide1">
        <div class="wrap-slick1">
            <div class="slick1">
                @{Html.RenderAction("SlideShow", "Home");}


            </div>
        </div>
    </section>

    <!-- Banner -->
    <section class="bgwhite p-t-45 p-b-58">
        <div class="container">
            <div class="row">
                
                        @RenderBody()
                    

                   
                </div>
            </div>
    </section>
    <!-- Shipping -->

    <section class="shipping bgwhite p-t-62 p-b-46">
        <div class="flex-w p-l-15 p-r-15">
            <div class="text-center flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1 " style="border:1px initial #b6ff00; background-color:#00ff90">
                <h4 class="m-text12 t-center">

                    <div class="col-md-4  ">
                        <i class="fa fa-refresh " style="color:blue"></i>
                    </div>
                </h4>
                <span style="font-size:20px; color:blue">Hoàn trả trong<br>30 ngày</span>

            </div>

            <div class="text-center flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2" style="border:1px initial #b6ff00; background-color:#00ff90">
                <h4 class="m-text12 t-center">
                    <div class="sale-policy-block">
                        <i class="fa fa-life-saver" style="color:blue"></i>

                    </div>
                </h4>


                <span style="font-size:20px; color:blue">Thanh toán<br>linh hoạt</span>

            </div>

            <div class="text-center flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1" style="border:1px initial #b6ff00; background-color:#00ff90">
                <h4 class="m-text12 t-center">

                    <div class="sale-policy-block">

                        <i class="fa fa-users" style="color:blue"></i>

                    </div>

                </h4>

                <span style="font-size:20px; color:blue">Hỗ trợ<br>khách hàng</span>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    GET IN TOUCH
                </h4>

                <div>
                    <p class="s-text7 w-size27">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                    </p>

                    <div class="flex-m p-t-30">
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                    </div>
                </div>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Men
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Women
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Dresses
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Sunglasses
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Links
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Search
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            About Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Contact Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="effect1 w-size9">
                        <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                        <span class="effect1-line"></span>
                    </div>

                    <div class="w-size2 p-t-20">
                        <!-- Button -->
                        <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                            Subscribe
                        </button>
                    </div>

                </form>
            </div>
        </div>

        <div class="t-center p-l-15 p-r-15">
            <a href="#">
                <img class="h-size2" src="/Content/images/icons/paypal.png" alt="IMG-PAYPAL">
            </a>

            <a href="#">
                <img class="h-size2" src="/Content/images/icons/visa.png" alt="IMG-VISA">
            </a>

            <a href="#">
                <img class="h-size2" src="/Content/images/icons/mastercard.png" alt="IMG-MASTERCARD">
            </a>

            <a href="#">
                <img class="h-size2" src="/Content/images/icons/express.png" alt="IMG-EXPRESS">
            </a>

            <a href="#">
                <img class="h-size2" src="/Content/images/icons/discover.png" alt="IMG-DISCOVER">
            </a>

            <div class="t-center s-text8 p-t-20">
                Copyright © @DateTime.Now.Year <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/hieuitvnsoft" target="_blank">Hieu Rin</a>
            </div>
        </div>
    </footer>



    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!-- Container Selection1 -->
    <div id="dropDownSelect1"></div>

    <!-- Modal Video 01-->
    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

            <div class="wrap-video-mo-01">
                <div class="w-full wrap-pic-w op-0-0"><img src="/Content/images/icons/video-16-9.jpg" alt="IMG"></div>
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/Nt8ZrWY2Cmk?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/vendor/select2/select2.min.js"></script>
    <script type="text/javascript">
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="/Content/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/vendor/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript">
        $('.block2-btn-addcart').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

        $('.block2-btn-addwishlist').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");
            });
        });
    </script>

    <!--===============================================================================================-->
    <script type="text/javascript" src="/Content/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>

