@model IEnumerable<ProjectSemIII.Models.CartItem>
<div class="header-wrapicon2 m-r-13">
    <img src="/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
    <span class="header-icons-noti">@Model.Count()</span>

    <!-- Header cart noti -->
    <div class="header-cart header-dropdown">

        @if (Model != null)
            { <ul class="header-cart-wrapitem">
            @foreach (var item in Model)
            {
                <li class="header-cart-item">
                    <div class="header-cart-item-img">
                        <img src="~/Areas/Admin/Content/ImageBook/@item.Picture" alt="IMG">
                    </div>

                    <div class="header-cart-item-txt">
                        <a href="#" class="header-cart-item-name">
                            @item.Title
                        </a>

                        <span class="header-cart-item-info">
                            @item.Quantity x @item.Price
                        </span>
                    </div>
                </li>
            }
        </ul>

            if (Model.Count() <= 0)
            {
                <span>Chưa có sản phẩm nào được chọn</span>
            }
            else
            { <div class="header-cart-total">
            Tổng tiền : @(Model.Sum(x => x.Price * x.Quantity))
        </div><div class="header-cart-buttons">
            <div class="header-cart-wrapbtn">
                <!-- Button -->
                <a href="~/Cart/ShowBasket/" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                    Xem giỏ hàng
                </a>
            </div>

            <div class="header-cart-wrapbtn">
                <!-- Button -->
                <a href="~/Cart/Payment/" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                    Thanh toán
                </a>
            </div>
        </div>}

        }
        else
        {
            <div class="header-cart-wrapbtn">
                Chưa có sản phẩm trong giỏ hàng
            </div>
        }

    </div>
</div>


